:root {
    --bg: black;
    --primary: #FFFFFF;
    --acsent: #D23166;
    --secondary: #FAFAFA;
}

body {
    font-family: "Manrope";
    color: var(--primary);
    background-color: var(--bg);
    font-weight: 400;
    font-size: 18px;
}

.hero__title {
    font-family: "Alexandria";
    font-size: 57px;
    line-height: 94%;
    letter-spacing: -7%;
}

.hero__title span {
    color: var(--acsent);
}

.hero__text {
    font-size: 18px;
}

.hero__p span {
    color: rgb(42, 34, 34);
}

.our-product {
    font-family: "Roboto";
}

.hero__h3 {
    font-family: "Hind Madurai";
    font-weight: 700;
    font-size: 26px;
}

.hero__bon {
    font-family: "Roboto";
    color: gray;
    font-size: 16px;
}

.hero__pp {
    font-family: "Hind Madurai";
}

.hero__simple {
    font-family: "Roboto";
}

.hero__help {
    font-family: "Alexandria";
}