:root {
	--main-bg: #000000;
	--secondary-bg: #151515;
	--primary-text: #ffffff;
	--secondary-text: #fafafa;
	--accent-color: #d23166;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

/* !!! MAIN STYLES !!! */

body {
	font-family: 'Manrope', sans-serif;
	color: var(--primary-text);
	background-color: var(--main-bg);
}

img {
	display: block;
	max-width: 100%;
}

a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

button {
	font-family: 'Hind Madurai', sans-serif;
	font-size: 16px;
	line-height: 1;
	text-transform: capitalize;
	color: var(--secondary-text);
	background-color: var(--accent-color);
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

ul,
ol {
	list-style: none;
}

.section {
	padding-block: 60px;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin-inline: auto;
	padding-inline: 96px;
}

.title-text {
	font-family: 'Alexandria', sans-serif;
	font-weight: 400;
	font-size: 57.33px;
	line-height: 0.94;
	letter-spacing: -4px;
	opacity: 90%;
}
.title-text span {
	color: var(--accent-color);
}

.main-text {
	font-size: 18px;
	line-height: 1.5;
}

.header {
	padding-block: 40px;
}
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navigation__list {
	display: flex;
	gap: 95px;
}
.social-list {
	display: flex;
	gap: 15px;
}
.social-list__link {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
}

/*Main style*/

.hero-container {
	display: flex;
	justify-content: space-between;
}
.hero__overview {
	max-width: 587px;
}
.hero__image-wrapper {
	max-width: 588px;
}
.hero__subtitle {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 1.4px;
}
.hero__title {
	margin-bottom: 16px;
}
.hero__description {
	margin-bottom: 48px;
	opacity: 60%;
}
.hero__btn {
	max-width: 165px;
	width: 100%;
	padding-block: 13.5px;
	font-weight: 700;
}

.about-container {
	position: relative;
	padding-top: 69px;
	padding-bottom: 45px;
}
.about__description {
	text-align: center;
}
.about__description span {
	color: #ffffff20;
}
.about__image {
	position: absolute;
}
.about__image-pistachio {
	right: 216px;
	top: 0;
}
.about__image-milk {
	top: 170px;
	left: 129px;
}
.about__image-strawberry {
	bottom: 0;
	left: 720px;
}

.products-container {
	overflow-x: hidden;
}

.products__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__navigation {
    display: flex;
    gap: 18px;
}

.products__navigation-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF10;
}
.products__list {
	display: flex;
	gap: 20px;
}
.products__item {
	flex-basis: 297px;
	flex-shrink: 0;
}
.product__image {
	width: 100%;
	height: 274px;
	object-fit: cover;
	object-position: center;
	border-radius: 20px;
}
.product__wrapper {
	position: relative;
	top: -24px;
	padding: 24px 30px;
	background-color: var(--secondary-bg);
	border-radius: 20px;
}
.product__name {
	font-family: 'Hind Madurai', sans-serif;
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 18px;
}
.product__description {
	font-size: 16px;
	line-height: 24px;
	opacity: 70%;
	margin-bottom: 28px;
}
.product__price {
	font-family: 'Hind Madurai', sans-serif;
	font-weight: 500;
	font-size: 26px;
	line-height: 1;
	margin-bottom: 16px;
}
.product__price sub {
	font-size: 20px;
	text-decoration: line-through;
	opacity: 70%;
}
.product__buy-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	padding: 16.5px 0;
	width: 100%;
}

.app-container {
	display: flex;
}
.app__title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin-bottom: 16px;
}
.app__description {
	opacity: 60%;
	margin-bottom: 64px;
}
.app__image-wrapper {
	flex: 1 0 782px;
}
.app__steps {
	margin-bottom: 48px;
}
.steps__item-text {
	opacity: 60%;
	display: flex;
	align-items: center;
	gap: 16px;
}
.steps__item-text span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	border: 1px solid white;
	border-radius: 50%;
}
.steps__item:not(:last-child) {
	margin-bottom: 26px;
}
.steps__item {
	position: relative;
}
.steps__item:not(:last-child)::after {
	content: '';
	position: absolute;
	bottom: -50%;
	left: 23px;
	width: 1px;
	height: 22px;
	background-color: #ffffff60;
	transform: translateX(-50%);
}

.app__download-list {
	display: flex;
	gap: 12px;
}

.question-section {
	height: 684px;
}
.question-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)),
		url(./assets/images/contanct.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.question__inner-wrapper {
	max-width: 653px;
}
.question__title {
	text-align: center;
	margin-bottom: 56px;
}
.question__form {
	display: flex;
	width: 100%;
	border: 1px solid white;
	border-radius: 9999px;
}
.form-input {
	background-color: transparent;
	border: none;
	padding: 23.5px 30px;
	width: 100%;
	font-size: 20px;
	color: var(--primary-text);
}
.form-input:focus {
	outline: none;
}
.form-input::placeholder {
	font-size: 20px;
}
.form-submit {
	border-radius: 9999px;
	padding-inline: 44px;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}

/* foother style */

.footer {
	background-color: var(--secondary-bg);
	padding-block: 100px;
}
.footer-container {
	display: flex;
	gap: 176px;
}
.footer__logo {
	max-width: 176px;
	width: 100%;
	margin-bottom: 24px;
}
.footer__logo img {
	width: 100%;
}
.footer__text {
	font-size: 14px;
	margin-bottom: 24px;
}
.footer__panel {
	flex-grow: 1;
	font-size: 18px;
}
.panel__title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 33px;
	text-transform: uppercase;
}
.footer__panel:not(:first-child) {
	text-wrap: nowrap;
}
.footer__panel:not(:first-child) a {
	display: block;
}
address {
	font-style: normal;
}